
.indexPage {
  border: 3px solid magenta;
  padding: 2em;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  animation: spin 4s linear infinite;
}

// @keyframes spin { 100% { transform: translate(-50%, -50%) rotate(360deg); } }
