
.TagsPage {
  .content > .tags {
    margin: 2em auto 3em;
    width: calc(100% - 2em);
    max-width: 70em;
    text-align: center;
    border-collapse: collapse;

    td, th {
      border: 1px solid rgba(127, 127, 127, 0.2);
      vertical-align: top;
    }

    thead {
      background-color: rgba(50, 120, 255, 0.5);
    }

    tbody {
      tr:nth-child(2n) {
        background-color: rgba(127, 200, 255, 0.05);
      }

      td:nth-child(3) {
        text-transform: capitalize;
      }
    }
  }
}
