
.IndexPage {
  text-align: center;

  .motdWrap {
    height: 15em;
    margin: 0.5em auto -5em;
    width: min-content;

    .motd {
      display: inline-block;

      img {
        width: 20em;
        height: 15em;
        object-fit: contain;
        display: inline-block;
      }
    }
  }

  .header {
    margin-top: 4rem;
    font-size: 4em;
    font-weight: bolder;
  }

  .links {
    a {
      padding: 0.5em;
      display: inline-block;
    }
  }

  .search {
    display: flex;
    justify-content: center;
    margin: 0.5em 1em;

    .TagInput {
      margin-right: 0.5em;
      flex: 0 1 20em;
    }
  }

  .stats {
    font-size: 90%;
    font-weight: lighter;

    a:not(:hover) {
      color: inherit;
    }

    div {
      display: inline-block;
      margin: 0.5em;

      span {
        font-weight: normal;
      }
    }
  }

  .footer {
    margin-top: 0.5em;
    color: gray;
    font-size: 66%;
    line-height: 170%;
  }

  .ThemeSwitch {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
  }
}
