
.PostPage {
  height: 100%;

  .sidebar {
    .rating {
      text-align: center;
      font-size: 2em;
      margin-top: -0.5rem;

      .gold {
        color: gold;
      }
      .gray {
        color: lightgray;
      }
    }

    .sidebarContent > .namespace {
      margin-top: 0.5em;
      font-size: 75%;
    }
  }

  .content {
    height: 100%;
    text-align: center;

    .File {
      margin: 2em;
      max-height: calc(100% - 5em);
      max-width: calc(100% - 5em);
      height: auto;
      width: auto;
      display: inline-block;
    }
  }

  &.fullHeight {
    height: unset;
  }
}
