<html>
<head>
    <title>Boilerplate</title>
    {{#if production}}
        <link rel="stylesheet" href="style.bundle.css" />
    {{/if}}
</head>
<body>
    <div id="root">{{{reactContent}}}</div>
    <script id="initialData" type="application/json">{{{initialData}}}</script>
    <script src="/client.bundle.js"></script>
</body>
</html>