<!doctype html>
<html lang="en">
	<head>
		<title>HyBooru</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
		{{#if production}}
			<link rel="stylesheet" href="/style.css"/>
		{{/if}}
	</head>
	<body>
		<div id="root">{{{reactContent}}}</div>
		<script id="initialData" type="application/json">{{{initialData}}}</script>

		<script type="text/javascript" src="/client.js"></script>
	</body>
</html>
