
.ErrorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 4rem 2rem 2rem;
  
  .Logo {
    font-size: 4rem;
  }

  pre {
    text-align: left;
    padding: 1em;
  }
}
