
.ErrorPage {
  min-height: 100vh;

  .header {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;

    .code {
      display: block;
      font-size: 30vmin;
      line-height: 25.5vmin;
      font-weight: bolder;
      color: #b3b3b3;
      padding-right: 30px;
    }

    .message {
      display: block;
      font-size: 7vmin;
      line-height: 7vmin;
      font-weight: bolder;
    }
  }

  .stack {
    height: 50vh;
    padding: 5vmin;
    white-space: pre-line;
    font-family: Consolas, Menlo, Monaco, monospace;
  }
}
