
.Layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  display: flex;

  & > .sidebar {
    width: 15em;
    height: 100vh;
    border-right: 1px solid lightgray;
    position: sticky;
    top: 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: white;

    & > .logo {
      font-size: 2.5em;
      font-weight: bold;
      text-align: center;
      height: 4rem;

      & > * {
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    & > .sidebarContent {
      padding: 0.5em;
      flex: 1;
      overflow: hidden auto;
    }
  }

  & > .header {
    position: fixed;
    top: 0;
    left: 15rem;
    right: 0;
    max-height: 4rem;
    transition: max-height 0.3s ease-in-out;
    background: white;
    box-shadow: 0 0 0.5rem 0.5rem white;
    z-index: 2;

    .menuButton {
      float: left;
      height: 3rem;
      width: 2rem;
      margin: 0.6rem 0 0 0.5rem;
      cursor: pointer;
      transition: opacity 0.1s;
      opacity: 0.5;

      &:hover {
        opacity: 0.8;
      }
    }

    .links {
      a {
        padding: 0.25em 0.5em;
        display: inline-block;
      }
    }

    .search {
      padding: 0 0.5em;
      display: flex;

      .settingsButton {
        height: 1.5em;
        width: 1.5em;
        object-fit: contain;
        margin: 0.25em;
        opacity: 0.25;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }

      input {
        flex: 1;
      }
    }

    .progress {
      position: absolute;
      top: calc(100% + 0.175em);
      left: 0;
      height: 0.1em;
      background-color: #148cff;
      animation: LayoutProgressAnimation 10s ease-out;
    }

    @keyframes LayoutProgressAnimation {
      0% { width: 0; opacity: 0; }
      5% { opacity: 0; }
      10% { opacity: 1; }
      100% { width: 100% }
    }

    .menu {
      position: absolute;
      padding: 0.5em;
      right: 0;
      top: 100%;
      background: white;
      border-left: 1px solid lightgray;
      border-bottom: 1px solid lightgray;
    }
  }

  & > .content {
    flex: 1;
    padding-top: 4.5rem;
  }

  &.mobile {
    & > .sidebar {
      position: fixed;
      left: -100%;
      transition: left 0.2s ease;
      z-index: 10;

      &.open {
        left: 0;

        & ~ .contentDimmer {
          background: rgba(20, 20, 50, 0.25);
          pointer-events: all;
        }

        & ~ .content {
        }
      }
    }

    & > .contentDimmer {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      z-index: 5;
      transition: background 0.2s ease;
      pointer-events: none;
    }

    & > .content {
      transition: filter 0.2s  ease;
    }

    & > .header {
      left: 0;
    }
  }
}
