
.Tags {
  font-size: 75%;

  .namespace {
    margin-top: 0.5em;
    b {
      text-transform: capitalize;
    }
  }

  a:not(.btn) {
    margin-right: 0.2em;
  }

  span {
    color: inherit;
    opacity: 0.5;
  }

  .btn {
    display: inline-block;
    user-select: none;
    margin-right: 0.1em;
    font-weight: bold;
    width: 1.3ch;
    text-align: center;

    &.hide {
      opacity: 0;
    }
  }
}
