
.Thumbnail {
  display: inline-block;
  margin: 0.5em;
  opacity: 1;
  transition: 0.3s opacity;
  text-align: center;

  img {
    object-fit: contain;
  }

  label {
    font-size: 75%;
    color: var(--text-color);
  }

  &.dynamic {
    opacity: 0;
  }

  &.unknown {
    position: relative;

    &::after {
      content: attr(data-ext);
      position: absolute;
      font-size: 150%;
      line-height: 100%;
      bottom: 1em;
      left: 0;
      width: 100%;
      text-align: center;
      font-weight: bold;
      color: #888;
      text-transform: uppercase;
      overflow: hidden;
    }
  }
}
