
.Thumbnail {
  display: inline-block;
  margin: 0.5em;
  opacity: 1;
  transition: 0.3s opacity;

  img {
    width: 7.5em;
    height: 7.5em;
    object-fit: contain;
  }

  &.dynamic {
    opacity: 0;
  }
}
