
.Thumbnail {
  display: inline-block;
  position: relative;
  margin: 0.5em;
  opacity: 1;
  text-align: center;
  
  .Blurhash {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.15s 0.15s opacity;
    z-index: -1;
  }

  img {
    object-fit: contain;
    transition: 0.3s opacity;
  }

  label {
    font-size: 75%;
    color: var(--text-color);
  }

  &.fade img {
    opacity: 0;
  }
  
  &.loaded {
    img {
      opacity: 1.0;
    }
    
    canvas {
      opacity: 0;
    }
  }

  &.unknown {
    position: relative;

    &::after {
      content: attr(data-ext);
      position: absolute;
      font-size: 150%;
      line-height: 100%;
      bottom: 1em;
      left: 0;
      width: 100%;
      text-align: center;
      font-weight: bold;
      color: #888;
      text-transform: uppercase;
      overflow: hidden;
    }
  }
}
