
.GalleryPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  bottom: 0;
  z-index: 999;
  touch-action: none;

  .wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

    &.left { left: -50% }
    &.right { left: 150% }

    .File {
      &.image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &.video {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5em;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

    &.open {
      opacity: 1;
      pointer-events: all;
    }

    .closeBtn, .moreBtn {
      position: absolute;
      top: 0;
      font-size: 2rem;
      color: white;
      cursor: pointer;
      padding: 1rem;
      opacity: 0.75;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }

    .closeBtn {
      right: 0;
    }

    .moreBtn {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
