
.SearchPage {
  & > .header .links .total {
    float: right;
    opacity: 0.5;
    font-size: 75%;
    padding: 0.5em 0.75em;
  }

  & > .content {
    text-align: center;

    .posts {
      line-height: 0;

      .placeholder {
        display: inline-block;
        width: 7.5em;
        margin: 0 0.5em;
      }
    }

    .end {
      position: relative;

      &::before {
        content: "End";
        position: absolute;
        top: 0.5em;
        left: 0.75em;
        opacity: 0.5;
        font-size: 75%;
      }
    }

    .empty {
      font-weight: bold;
      margin-top: 1em;
      font-size: 150%;
      opacity: 0.7;
    }

    .bottomPad {
      height: 9em;
    }
  }
}
