
.SearchPage {
  display: flex;

  .sidebar {
    width: 15em;
    height: 100vh;
    border-right: 1px solid lightgray;
    position: sticky;
    top: 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    z-index: 1;

    .header {
      font-size: 2.5em;
      font-weight: bold;
      text-align: center;
      height: 4rem;

      & > * {
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    .tags {
      padding: 0.5em;
      font-size: 75%;
      flex: 1;
      overflow: hidden auto;

      span {
        color: gray;
        margin-left: 0.5em;
      }
    }
  }

  .content {
    flex: 1;
    padding-top: 4rem;

    .header {
      position: fixed;
      top: 0;
      left: 15rem;
      right: 0;
      height: 4rem;
      background: white;
      box-shadow: 0 0 0.5rem 0.5rem white;

      .links {
        a {
          padding: 0.25em 0.5em;
          display: inline-block;
        }
      }

      .search {
        padding: 0 0.5em;
        display: flex;

        input {
          flex: 1;
          margin-right: 0.5em;
        }
      }
    }

    .posts {
      .post {
        display: inline-block;
        margin: 0.5em;

        img {
          width: 7.5em;
          height: 7.5em;
          object-fit: contain;
        }
      }
    }
  }
}
